(edif clk
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2026 3 18 14 32 12)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell PLL (cellType GENERIC)
      (property dont_touch (string "true"))
      (property dont_use (integer 1))
       (view prim (viewType NETLIST)
         (interface
           (port GLA (direction OUTPUT))
           (port GLB (direction OUTPUT))
           (port GLC (direction OUTPUT))
           (port LOCK (direction OUTPUT))
           (port YB (direction OUTPUT))
           (port YC (direction OUTPUT))
           (port CLKA (direction INPUT))
           (port DLYGLA0 (direction INPUT))
           (port DLYGLA1 (direction INPUT))
           (port DLYGLA2 (direction INPUT))
           (port DLYGLA3 (direction INPUT))
           (port DLYGLA4 (direction INPUT))
           (port DLYGLB0 (direction INPUT))
           (port DLYGLB1 (direction INPUT))
           (port DLYGLB2 (direction INPUT))
           (port DLYGLB3 (direction INPUT))
           (port DLYGLB4 (direction INPUT))
           (port DLYGLC0 (direction INPUT))
           (port DLYGLC1 (direction INPUT))
           (port DLYGLC2 (direction INPUT))
           (port DLYGLC3 (direction INPUT))
           (port DLYGLC4 (direction INPUT))
           (port DLYYB0 (direction INPUT))
           (port DLYYB1 (direction INPUT))
           (port DLYYB2 (direction INPUT))
           (port DLYYB3 (direction INPUT))
           (port DLYYB4 (direction INPUT))
           (port DLYYC0 (direction INPUT))
           (port DLYYC1 (direction INPUT))
           (port DLYYC2 (direction INPUT))
           (port DLYYC3 (direction INPUT))
           (port DLYYC4 (direction INPUT))
           (port EXTFB (direction INPUT))
           (port FBDIV0 (direction INPUT))
           (port FBDIV1 (direction INPUT))
           (port FBDIV2 (direction INPUT))
           (port FBDIV3 (direction INPUT))
           (port FBDIV4 (direction INPUT))
           (port FBDIV5 (direction INPUT))
           (port FBDIV6 (direction INPUT))
           (port FBDLY0 (direction INPUT))
           (port FBDLY1 (direction INPUT))
           (port FBDLY2 (direction INPUT))
           (port FBDLY3 (direction INPUT))
           (port FBDLY4 (direction INPUT))
           (port FBSEL0 (direction INPUT))
           (port FBSEL1 (direction INPUT))
           (port FINDIV0 (direction INPUT))
           (port FINDIV1 (direction INPUT))
           (port FINDIV2 (direction INPUT))
           (port FINDIV3 (direction INPUT))
           (port FINDIV4 (direction INPUT))
           (port FINDIV5 (direction INPUT))
           (port FINDIV6 (direction INPUT))
           (port OADIV0 (direction INPUT))
           (port OADIV1 (direction INPUT))
           (port OADIV2 (direction INPUT))
           (port OADIV3 (direction INPUT))
           (port OADIV4 (direction INPUT))
           (port OAMUX0 (direction INPUT))
           (port OAMUX1 (direction INPUT))
           (port OAMUX2 (direction INPUT))
           (port OBDIV0 (direction INPUT))
           (port OBDIV1 (direction INPUT))
           (port OBDIV2 (direction INPUT))
           (port OBDIV3 (direction INPUT))
           (port OBDIV4 (direction INPUT))
           (port OBMUX0 (direction INPUT))
           (port OBMUX1 (direction INPUT))
           (port OBMUX2 (direction INPUT))
           (port OCDIV0 (direction INPUT))
           (port OCDIV1 (direction INPUT))
           (port OCDIV2 (direction INPUT))
           (port OCDIV3 (direction INPUT))
           (port OCDIV4 (direction INPUT))
           (port OCMUX0 (direction INPUT))
           (port OCMUX1 (direction INPUT))
           (port OCMUX2 (direction INPUT))
           (port POWERDOWN (direction INPUT))
           (port VCOSEL0 (direction INPUT))
           (port VCOSEL1 (direction INPUT))
           (port VCOSEL2 (direction INPUT))
           (port XDLYSEL (direction INPUT))
         )
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell clk (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port POWERDOWN (direction INPUT))
           (port CLKA (direction INPUT))
           (port LOCK (direction OUTPUT))
           (port GLA (direction OUTPUT))
         )
         (contents
          (instance GLA_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance LOCK_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance CLKA_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance POWERDOWN_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Core (viewRef prim (cellRef PLL (libraryRef PA3)))
           (property is_instantiated (integer 1))
           (property VCOFREQUENCY (string "50.000000"))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net Core_GLB (joined
           (portRef GLB (instanceRef Core))
          ))
          (net Core_YB (joined
           (portRef YB (instanceRef Core))
          ))
          (net Core_GLC (joined
           (portRef GLC (instanceRef Core))
          ))
          (net Core_YC (joined
           (portRef YC (instanceRef Core))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef XDLYSEL (instanceRef Core))
           (portRef VCOSEL2 (instanceRef Core))
           (portRef VCOSEL0 (instanceRef Core))
           (portRef OCMUX2 (instanceRef Core))
           (portRef OCMUX1 (instanceRef Core))
           (portRef OCMUX0 (instanceRef Core))
           (portRef OCDIV4 (instanceRef Core))
           (portRef OCDIV3 (instanceRef Core))
           (portRef OCDIV2 (instanceRef Core))
           (portRef OCDIV1 (instanceRef Core))
           (portRef OCDIV0 (instanceRef Core))
           (portRef OBMUX2 (instanceRef Core))
           (portRef OBMUX1 (instanceRef Core))
           (portRef OBMUX0 (instanceRef Core))
           (portRef OBDIV4 (instanceRef Core))
           (portRef OBDIV3 (instanceRef Core))
           (portRef OBDIV2 (instanceRef Core))
           (portRef OBDIV1 (instanceRef Core))
           (portRef OBDIV0 (instanceRef Core))
           (portRef OAMUX1 (instanceRef Core))
           (portRef OAMUX0 (instanceRef Core))
           (portRef OADIV4 (instanceRef Core))
           (portRef OADIV3 (instanceRef Core))
           (portRef OADIV2 (instanceRef Core))
           (portRef OADIV1 (instanceRef Core))
           (portRef OADIV0 (instanceRef Core))
           (portRef FINDIV6 (instanceRef Core))
           (portRef FINDIV5 (instanceRef Core))
           (portRef FINDIV4 (instanceRef Core))
           (portRef FINDIV3 (instanceRef Core))
           (portRef FBSEL1 (instanceRef Core))
           (portRef FBDLY4 (instanceRef Core))
           (portRef FBDLY3 (instanceRef Core))
           (portRef FBDLY2 (instanceRef Core))
           (portRef FBDLY1 (instanceRef Core))
           (portRef FBDLY0 (instanceRef Core))
           (portRef FBDIV6 (instanceRef Core))
           (portRef FBDIV5 (instanceRef Core))
           (portRef FBDIV4 (instanceRef Core))
           (portRef FBDIV2 (instanceRef Core))
           (portRef FBDIV1 (instanceRef Core))
           (portRef EXTFB (instanceRef Core))
           (portRef DLYYC4 (instanceRef Core))
           (portRef DLYYC3 (instanceRef Core))
           (portRef DLYYC2 (instanceRef Core))
           (portRef DLYYC1 (instanceRef Core))
           (portRef DLYYC0 (instanceRef Core))
           (portRef DLYYB4 (instanceRef Core))
           (portRef DLYYB3 (instanceRef Core))
           (portRef DLYYB2 (instanceRef Core))
           (portRef DLYYB1 (instanceRef Core))
           (portRef DLYYB0 (instanceRef Core))
           (portRef DLYGLC4 (instanceRef Core))
           (portRef DLYGLC3 (instanceRef Core))
           (portRef DLYGLC2 (instanceRef Core))
           (portRef DLYGLC1 (instanceRef Core))
           (portRef DLYGLC0 (instanceRef Core))
           (portRef DLYGLB4 (instanceRef Core))
           (portRef DLYGLB3 (instanceRef Core))
           (portRef DLYGLB2 (instanceRef Core))
           (portRef DLYGLB1 (instanceRef Core))
           (portRef DLYGLB0 (instanceRef Core))
           (portRef DLYGLA4 (instanceRef Core))
           (portRef DLYGLA3 (instanceRef Core))
           (portRef DLYGLA2 (instanceRef Core))
           (portRef DLYGLA1 (instanceRef Core))
           (portRef DLYGLA0 (instanceRef Core))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef VCOSEL1 (instanceRef Core))
           (portRef OAMUX2 (instanceRef Core))
           (portRef FINDIV2 (instanceRef Core))
           (portRef FINDIV1 (instanceRef Core))
           (portRef FINDIV0 (instanceRef Core))
           (portRef FBSEL0 (instanceRef Core))
           (portRef FBDIV3 (instanceRef Core))
           (portRef FBDIV0 (instanceRef Core))
          ))
          (net POWERDOWN_c (joined
           (portRef Y (instanceRef POWERDOWN_pad))
           (portRef POWERDOWN (instanceRef Core))
          ))
          (net POWERDOWN (joined
           (portRef POWERDOWN)
           (portRef PAD (instanceRef POWERDOWN_pad))
          ))
          (net CLKA_c (joined
           (portRef Y (instanceRef CLKA_pad))
           (portRef CLKA (instanceRef Core))
          ))
          (net CLKA (joined
           (portRef CLKA)
           (portRef PAD (instanceRef CLKA_pad))
          ))
          (net LOCK_c (joined
           (portRef LOCK (instanceRef Core))
           (portRef D (instanceRef LOCK_pad))
          ))
          (net LOCK (joined
           (portRef PAD (instanceRef LOCK_pad))
           (portRef LOCK)
          ))
          (net GLA_c (joined
           (portRef GLA (instanceRef Core))
           (portRef D (instanceRef GLA_pad))
          ))
          (net GLA (joined
           (portRef PAD (instanceRef GLA_pad))
           (portRef GLA)
          ))
         )
        (property orig_inst_of (string "clk"))
       )
    )
  )
  (design clk (cellRef clk (libraryRef work)))
)
